<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--控制台-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}] %p [ %thread] %c{50}:%L - %m%n</pattern>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
    </appender>
    <!--file append-->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/stress-test.log</File>
        <Append>true</Append>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}] %p [ %thread] %c{1}:%L - %m%n</pattern>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/stress-test.log.%d{yyyy-MM-dd_HH}.%i.log</fileNamePattern>
            <!-- 每个文件最大 500M ，最多保留10天，但是总的大小不超过2G -->
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>2</maxHistory>
            <totalSizeCap>2GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <logger name="org.springframework" level="DEBUG" />
    <logger name="org.mongodb.driver" level="INFO" />
    <logger name="com.github.hwhaocool" level="DEBUG" />
    <logger name="org.apache.http" level="INFO" />

    <root level="DEBUG">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </root>
</configuration>